.post-card {
    border: 1px solid hsl(0, 0%, 80%);
    box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.1);
    border-radius: 2%;
    padding: 5px;
    margin: 10px;
    background-color: rgb(204, 212, 217);
    max-width: 600px;
    display: inline-block;
}

.post-card .post-card-image {
  border-radius: 5%;
}