body,
#root {
    margin: 0;
    min-height: 100%;
}

.home-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    min-width: 100%;
}

.home-page main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
    min-width: 100%;
}

.friends-panel {
    flex: 0 0 25%;
}
.your-posts-panel {
    flex: 0 0 50%;
}

.your-posts {
    display: flex;
    flex-wrap: wrap;
}